/* Hide Scrollbar */
.no-scroll *::-webkit-scrollbar {
    display: none;
}

.theme-main {
    width: 13px;
    height: 26px;
}

.theme-sub {
    width: 13px;
    height: 26px;
}

.theme-font {
    position:absolute;
    width:0px;
    height:0px;
    font-size: 12px;
}

.theme-box {
    cursor: pointer;
    overflow: hidden;
    width: 26px;
    height: 26px;
    border-radius: 3px;
    display: flex;
}